.ui-input {
  width: 353px;
  background-color: transparent;
  padding: 18px 8px 2px 8px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  border-bottom: 1px solid var(--footer-subscribe-input-border, #8D959C);

  color: var(--footer-subscribe-input-text, #8D959C);
}