.app-page {
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: $tablet-width) {
      gap: 50px;
    }

    @media (min-width: $desktop-width) {
      gap: 100px;
    }
  }
}
