.app-subscription {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
  border-radius: 2px;
  background: var(--text, #1B1B1B);

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    width: fit-content;

    @media (min-width: $tablet-width) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    grid-gap: 25px;
    margin-top: 16px;

    @media (min-width: $tablet-width) {
      margin-top: 20px;
      grid-template-columns: 353px auto;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      grid-gap: 37px;
    }
  }
}