.app-footer {
  border-top: 1px solid var(--footer-border-color, #8D959C);

  &__top {
    padding: 50px 0 70px;
    display: flex;
    justify-content: space-between;
  }

  &__desc {
    margin-top: 20px;
    max-width: 426px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--footer-text-color, #8D959C);
  }

  &__contacts {
    min-width: 360px;
  }

  &__bottom {

  }
}

.blog-contacts {
  &__mail-title {
    font-size: 14px;
    line-height: 20px;
    color: var(--footer-text-color, #8D959C);
  }

  &__mail {
    font-family: Ubuntu , sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: var(--text, #1B1B1B);
  }

  &__socials {
    margin-top: 24px;
  }
}

.blog-contacts-socials {
  &__list {
    display: flex;
    gap: 20px;
  }
}
