.article-preview-item {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: var(--white);

  &:hover {
    filter: drop-shadow(0px 4px 10px lightgray);
    transition: 0.1s;
  }

  &__preview-image {
    background: lightgray 50% / cover no-repeat;
    object-fit: cover;
    width: 100%;
  }

  &__title {
    margin-top: 20px;
    margin-bottom: auto;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    margin-top: 30px;
    margin-bottom: 0;
    display: inline-flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    color: var(--white, #FFFFFF);
    border-radius: 2px;
    background-color: var(--text, #1B1B1B);
    transition: all 0.2s;

    &:hover {
      background-color: var(--blue, #3657D3);
    }

    &:focus-visible {
      background-color: var(--blue, #3657D3);
    }
  }
}