.app-article {
  display: flex;
  flex-direction: column;
  gap: 100px;
  &__hero {

  }

  &__main {
    //margin-top: 70px;
  }

  &__image {
    //margin-top: 100px;
    //margin-bottom: 100px;
  }

  &__subscription-wrapper {
    //margin-top: 100px;
  }

  &__similar-list {
    //margin-top: 100px;
  }

  &__title {
    font-size: 34px;
    font-weight: 800;
    line-height: 46px;
    color: var(--text, #1B1B1B);
  }

  &__sub-title {
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    color: var(--text, #1B1B1B);
  }

  &__slider {

  }
}

.article-hero {
  &__wrapper {
    display: grid;
    grid-template-columns: 541px 1fr;
    grid-gap: 30px;
    min-height: 580px;
  }

  &__image-wrapper {
    background: lightgray 50% / cover no-repeat;
    border-radius: 2px 220px 2px 2px;
    overflow: hidden;
  }

  &__image {

  }

  &__content {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  &__title {
    margin-top: 70px;
    font-size: 56px;
    font-weight: 800;
    line-height: 66px;

    color: var(--text, #1B1B1B);
  }

  &__statistic {
    margin-top: 30px;
    display: grid;
    grid-gap: 2px;
  }

  &__statistic-item {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;

    font-size: 14px;
    line-height: 20px;
    color: var(--text-special, #8D959C);
  }

  &__desc {
    margin-top: 50px;
    font-size: 18px;
    line-height: 26px;
    color: var(--text, #1B1B1B);
  }
}

.article-main {
  width: 884px;
  margin-left: auto;
  margin-right: auto;



  &__sub-title {

  }

  &__content-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__content-list {
    font-size: 18px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 100px;
  }

  &__content-item {
    position: relative;
    list-style-image: url("../assets/img/icon-list-item.svg") ;
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
  }

  &__quote-wrapper {
    margin-top: 40px;
  }
}

.article-quote {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 36px;
  &__text {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 26px
  }
}

.article-image {
  &__image-wrapper {
    border-radius: 2px 220px 2px 2px;
    background: #D9D9D9;

    height: 550px;
  }

  &__img {
    object-fit: cover;
    background: lightgray 50% / cover no-repeat;
  }

  &__info {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
    text-align: right;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-special, #8D959C);
  }
}

.article-similar {
  &__list {
    margin-top: 50px;
  }
}

.article-slider {
  &__image {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }

  & .carousel__slide {
    padding: 10px 90px;
  }

  & .carousel__icon {
    color: var(--white);
  }

  & .carousel__prev,.carousel__next {
    width: 60px;
    height: 60px;
    background-color: var(--text, #1B1B1B);
  }
}