.article-list-block {
  &__title {
    font-size: var(--text-sub-title-font-size, 20px);
    line-height: var(--text-sub-title-line-height, 24px);
    font-weight: 800;
    color: var(--text, #1B1B1B);

    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
      font-size: var(--text-sub-title-font-size, 34px);
      line-height: var(--text-sub-title-line-height, 46px);
    }
  }

  &__list {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin-top: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 30px;
    }
  }
}
