.article-preview {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
