.article-hero {
  &__wrapper {
    display: grid;
    grid-template-columns: 541px 1fr;
    grid-gap: 30px;
    min-height: 580px;
  }

  &__image-wrapper {
    background: lightgray 50% / cover no-repeat;
    border-radius: 2px 220px 2px 2px;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
  }

  &__content {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  &__title {
    margin-top: 70px;
    font-size: 56px;
    font-weight: 800;
    line-height: 66px;

    color: var(--text, #1B1B1B);
  }

  &__statistic {
    margin-top: 30px;
    display: grid;
    grid-gap: 2px;
  }

  &__statistic-item {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;

    font-size: 14px;
    line-height: 20px;
    color: var(--text-special, #8D959C);
  }

  &__desc {
    margin-top: 50px;
    font-size: 18px;
    line-height: 26px;
    color: var(--text, #1B1B1B);
  }
}
