.app-header {
  &__content {
    //border: 1px solid red;
    //padding: 25px 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__logo-wrapper {
    display: flex;
    justify-content: center;
  }

  &__navigation {
    display: flex;
    justify-content: center;
  }
}

.navigation {
  &__list {
    display: flex;
  }
}